.inscription {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	padding: 20px;
	overflow-y: auto;
}

.cardInsctiption {
	background: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	width: 200%;
	max-width: 70%;
}

.inscriptionh1 {
	text-align: center;
	font-size: 24px;
	margin-bottom: 20px;
}

.inputinscription {
	width: 100%;
	height: 40px;
	padding: 10px;
	border-radius: 8px;
	margin-top: 15px;
	border: 1px solid #ccc;
}

.passwordinscription {
	margin-top: 40px;
}

.submitinscription {
	width: 100%;
	height: 40px;
	background-color: #4caf50;
	color: white;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	margin-top: 15px;
}
